.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.navBarButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navBarButtons a {
  text-decoration: none !important;
  color: #64636B;
}

.bannerImage {
  width: 56rem;
}

.mainArticle {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mainTitle p {
  font-size: 3rem;
  color: #06061E;
  font-weight: bold;
}

.mainText p {
  font-size: 1rem;
  color: #64636B;
  font-weight: 400;
}

.mainText button {
  border: none;
  outline: none;
  background-color: #F15D52;
  color: #170B19;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 30px;
}

.middlePage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}

.newArticles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #00001A;
  height: 100%;
}

.popularArticles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.popularArticle {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.popularDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


@media screen and (max-width: 1200px) {
  .container {
    max-width: 991px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 100%;
  }
}
