.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.navBarButtons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.navBarButtons a {
  text-decoration: none !important;
  color: #64636B;
}

.bannerImage {
  width: 100%;
}

.mainArticle {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.mainTitle p {
  font-size: 3rem;
  color: #06061E;
  font-weight: 800;
  margin: 0;
  line-height: 1;
}

.mainText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.mainText p {
  font-size: 1rem;
  color: #64636B;
  font-weight: 400;
  line-height: 1.5;
}

.mainText button {
  border: none;
  outline: none;
  background-color: #F15D52;
  color: #170B19;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 30px;
  width: fit-content;
}

.middlePage {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1.5rem;
  margin-top: 3rem;
}

.newArticles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #00001A;
  padding: 2rem 1.5rem;
}

.newArticles hr {
  width: 100%;
  color: white;
  opacity: 0.6;
}

.newArticles > p {
  color: #E3A64B;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 0.8rem;
}

.newArticleTitle {
  font-weight: 800;
  color: white;
}

.newArticleDescription {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  opacity: 0.6;
}

.popularArticles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.popularArticle {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.popularDescription {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


@media screen and (max-width: 1200px) {
  .container {
    max-width: 991px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    max-width: 100%;
  }
}
